<div class="text-center">
  <h4>{{title}}</h4>
  <p>{{post}}</p>
  <p>Created by {{user.name}} on {{format_date posted_date}}</p>
  <p>
    Comments:
  </p>
  {{#if logged_in}}
      <p>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave your comment here"
        id="floatingComment"
        style="height: 100px"></textarea>
    </div>
    <button class="btn btn-small" id="submitNewComment" onclick="submitComment()">Comment</button>
  </p>
        {{else}}
      <li><a href="/login">login</a></li>
    {{/if}}
  
</div>