<div class="text-center">
  <h4>{{title}}</h4>
  <p>{{post}}</p>
  <p class="separator">Posted by {{user.name}}, {{format_date posted_date}}</p>

  {{! this section is displayed if at least one comment added to the post }}
  {{#if comments}}
    <h5>
      Comments:
    </h5>
    <!-- Loop over each object in the comments array -->
    {{#each comments as |comment|}}
      <div class="row">
        <div class="col s12 comment">
          <p>{{comment.content}}</p>
          <p style="font-size: 0.85rem">-
            {{comment.user.name}},
            {{format_date comment.posted_date}}</p>
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{!-- Comment form will be displayed for logged in users only --}}
  {{#if logged_in}}
    <p>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave your comment here"
          id="comment-content"
          style="height: 100px"
        ></textarea>
      </div>
      <button
        class="btn btn-small"
        id="submitNewComment"
        onclick="submitComment({{id}})"
      >Comment</button>
    </p>
  {{else}}
    <a class="notification" href="/login">If you want to add comment, please
      login</a>
  {{/if}}
</div>
<script src="/js/comment.js"></script>
