<!-- Loop over each object in the blogposts array -->
{{#each blogposts as |blogpost| }}
<div class="row s12 blogpost">
  <div class="col s12">
    <h4>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h4>
    <p>{{blogpost.post}}</p>
    <p>Posted by {{user.name}} on {{format_date blogpost.posted_date}}</p>
  </div>
</div>
{{/each}}
